:root {
    --sketch-color: #f53652;
    --background-color: #b0f5eb;
    --secondary-color: #f8fa98;
    --third-color: #eb7384;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

body,
h1,
h2,
h3,
p,
button {
    margin: 0;
    font-family: 'Cookie', cursive;
}

.wrapper-whole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sketchBorder {
    background-color: var(--sketch-color);
    height: 50rem;
    width: 70rem;
    margin: 4rem 0;
    text-align: center;
    border-radius: 10px;
}

.theSketchContainer {
    height: 50rem;
    width: 70rem;
}

h3 {
    color: var(--secondary-color);
    font-size: 3em;
    margin: 1.5rem;
    
}

#theSketch {
    background-color: white;
    height: 35rem;
    width: 35rem;
    margin: auto;
}

.theSketch {
    margin: auto;
    display: inline-grid;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: repeat(10, 2fr);
}

.theSketchMedium {
    margin: auto;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    
}

.theSketchLarge {
    margin: auto;
    display: inline-grid;
    grid-template-columns: repeat(20, 2fr);
    grid-template-rows: repeat(20, 2fr);
    
}

.draw {
    border: solid .7px grey;
}

.drawHover {
    background-color: grey;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .7rem;
}

.canvas {
    color: var(--secondary-color);
    font-size: 3rem;
    margin-bottom: .5rem;
}

.buttons {
    display: flex;
}

button {
    font-size: 1.5em;
    padding: .5rem 1rem;
    margin: 0 1rem;
    color: var(--secondary-color);
    border: 1px solid;
    background: var(--third-color);
    cursor: pointer;
}

button:hover {
    background: var(--sketch-color);
}

#erase {
    background-color: var(--secondary-color);
    color: black;
    position: absolute;
    right: 3rem;

}
